asgiref==3.6.0
astroid==2.2.5
autopep8==1.4.4
certifi==2019.6.16
chardet==3.0.4
cmake==3.26.3
colorama==0.4.6
defusedxml==0.6.0
django==3.2.10
django-allauth
django-cors-headers
django-countries
django-crispy-forms
django-rest-auth
djangorestframework
django-debug-toolbar
gunicorn
idna==2.8
isort==4.3.21
lazy-object-proxy
mccabe
oauthlib
pep8==1.7.1
Pillow
pycodestyle==2.5.0
pylint
python-decouple
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
stripe
typed-ast
tzdata
urllib3
wrapt
python-dotenv
psycopg2-binary

